.SecondSection {
  display: flex;
  flex-direction: column;
  gap: 70px;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 27px 18px;
  }

  .whiteBox {
    padding: 20px 10px;
    background-color: #f9f9f9;

    .title {
      display: inline-block;
      margin-bottom: 30px;

      font-size: 28px;
      color: var(--txt-color-primary);
      font-weight: 400;
    }

    .checkboxWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 40px;
      text-align: center;

      .check {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .check {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }
  }

  .primaryBox {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 90px;
    padding: 20px 10px;

    .field {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;

      .title {
        font-size: 28px;
        font-weight: 400;
        color: var(--txt-color-primary);
      }

      .inputWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        input {
          width: 150px;
          height: 75px;
          padding: 20px 10px;

          font-size: 32px;
          text-align: center;

          background-color: var(--bg-input-primary);
          border-radius: 11px;
        }

        label {
          font-size: 22px;
        }

        .name {
          font-style: italic;
          font-size: 28px;
        }
      }

      .inputWrapper>div {
        justify-content: space-between;
        width: 125px;
      }

      .unit {
        font-size: 28px;
        font-weight: 700;
        color: var(--txt-color-primary);

        &>span>small {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  @media (max-width: 800px) {
    padding: 27px 18px;

    .field {
      grid-template-columns: minmax(230px, auto) 100px 100px;

      .title {
        font-size: 24px;
      }

      .inputWrapper {
        input {
          font-size: 26px;
        }

        .name {
          font-size: 16px;
        }
      }

      .unit {
        font-size: 24px;
      }
    }
  }
}