.EightSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 27px 18px;

  .whiteBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 20px;
    // background-color: #f9f9f9;
    padding: 15px 10px;

    .checkboxWrapper {
      flex: 0 0 250px;
      display: flex;
      align-items: center;
      font-size: 28px;
    }

    .check {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 300px;
    }
  }

  @media (max-width: 800px) {
    .whiteBox {
      flex-direction: column-reverse;
      align-items: flex-start;

      .checkboxWrapper {
        flex: unset;
        width: 100%;
      }
    }
  }
}
