.CreateCall {
  width: calc(50%);
  .meetingDataContainer {
    .meetingDate {
      input {
        width: 200px;
        font-size: 14px;
        padding: 20px;
      }
    }
  }
  .usersContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    label {
      font-size: 20px;
    }
  }
  .saveBt {
    font-size: 20px;
    margin: 20px 0;
  }
}
