.CallsList {
  padding: 16px;
}

.filterInput {
  margin-bottom: 16px;
  width: 100%;
}

.callsContainer {
  list-style: none;
  padding: 0;
}

.callItem {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.callDate {
  font-weight: bold;
  margin-bottom: 8px;
}

.callText {
  margin-bottom: 6px;
}

.callParticipants {
  font-size: 14px;
  color: #555;
}
.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detailsBtn {
  background-color: var(--bg-btn-primary);
  color: var(--txt-color-secondary);
  padding: 10px 25px;
}
