.PatientInformation {
  .inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 27px 18px;
  }
  .birthdayDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 800px) {
      flex-direction: row;
    }
  }
  .birthdayDataContainer span,
  .sexDataContainer span {
    font-size: 28px;
    font-weight: 400;
    color: var(--txt-color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 800px) {
      font-size: 24px;
    }
  }
  .sexDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
  }
}
