.ThirdSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .tableRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 800px) {
      flex-wrap: nowrap;
    }
  }
  .whiteBox {
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid var(--border-input-primary);
        .title {
      display: inline-block;
      margin-bottom: 30px;

      font-size: 28px;
      color: var(--txt-color-primary);
      font-weight: 400;
    }
    .checkboxWrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      text-align: center;
    }
    .check {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 27px 18px;
  }
  .checkbox {
    padding: 0 20px;
    width: 70%;
    .title {
      font-size: 28px;

      strong {
        font-weight: 600;
      }
    }
    .subtitle {
      font-size: 22px;
    }
  }
  .checkboxWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
  }
  .check {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .tdButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  @media (max-width: 800px) {
    .checkbox {
      .title {
        font-size: 24px;
      }
      .subtitle {
        font-size: 18px;
      }
    }
    .whiteBox {
      .title {
        font-size: 24px;
      }
    }
  }
  @media (max-width: 600px) {
    .whiteBox {
      .checkboxWrapper {
        flex-direction: column;
      }
    }
  }
  .textarea {
    height: 166px;
  }
}
