.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 17px;
  background-color: var(--bg-input-primary);
  .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .logoBox {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  .logoBox:first-child {
    width: 200px;
    transform: translateY(15%);
  }
  .textBox {
    color: var(--txt-color-primary);
    font-size: 20px;
  }
  .logoutBt {
    width: 100px;
    font-size: 12px;
  }
  .infoWrap {
    position: absolute;
    right: 17px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    font-size: 12px;
    :last-child {
      margin-top: 10px;
    }
  }
}
