.Title {
  width: 100%;
  min-height: 50px;
  padding: .3em .5em;

  font-size: 28px;
  font-weight: 400;
  color: var(--bg-input-primary);
  text-align: center;

  background-color: var(--bg-secondary);
}
