.inputText {
  width: 100%;
  .title {
    display: block;

    font-size: 18px;
    font-weight: 400;
    color: var(--txt-color-primary);
  }
  .subtitle {
    display: block;

    font-size: 10px;
    font-weight: 400;
    color: var(--txt-color-primary);
  }
  .input {
    padding: 0.36em 0.63em;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    color: var(--txt-input-primary);

    background-color: var(--bg-input-primary);
    border: 1px solid var(--border-input-primary);
    border-radius: 11px;
  }
  .inner {
    margin-bottom: 5px;
  }
}
